<div class="card mb-4">
    <div class="card-header bg-success text-white">Add product</div>
    <div class="card-body">
        <form (submit)="addProduct($event)">
            <label class=" mb-3 row">
                <span class="col-sm-2 col-form-label text-sm-end">Description</span>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [field]="productForm.description" />
                    @for (error of productForm.description().errors(); track error.kind) {
                    <div class="invalid-feedback">{{ error.message }}</div>
                    }
                </div>
            </label>
            <label class="mb-3 row">
                <span class="col-sm-2 col-form-label text-sm-end">Price</span>
                <div class="col-sm-10">
                    <input type="number" class="form-control" [field]="productForm.price" />
                    @for (error of productForm.price().errors(); track error.kind) {
                    <div class="invalid-feedback">{{ error.message }}</div>
                    }
                </div>
            </label>
            <label class="mb-3 row">
                <span class="col-sm-2 col-form-label text-sm-end">Available</span>
                <div class="col-sm-10">
                    <input type="date" class="form-control" [field]="productForm.available" />
                    @for (error of productForm.available().errors(); track error.kind) {
                    <div class="invalid-feedback">{{ error.message }}</div>
                    }
                </div>
            </label>
            <label class="mb-3 row">
                <span class="col-sm-2 col-form-label text-sm-end"> Image</span>
                <div class="col-sm-10">
                    <input type="file" class="form-control" accept="image/*" encodeBase64Directive
                        (encoded)="productForm.imageUrl().setControlValue($event)" [field]="imageField" />
                    @for (error of imageField().errors(); track error.kind) {
                    <div class="invalid-feedback">{{ error.message }}</div>
                    }
                </div>
            </label>
            @if (productForm.imageUrl()) {
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <img class="product-img" [src]="productForm.imageUrl()" alt="" />
                </div>
            </div>
            }

            <div class="mb-3 row">
                <div class="offset-sm-2 col-sm-1">
                    <button type="submit" class="btn btn-primary" [disabled]="productForm().invalid()">Submit</button>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary" (click)="resetForm()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>